<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection"/>
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <link href="../static/css/morris-0.4.3.min.css" rel="stylesheet"/>
    <link href="../static/css/custom-styles.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../static/css/cssCharts.css">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="menu::menu"></div>
    <div th:replace="header::header"></div>
        <div layout:fragment="content"></div>
        <div th:include="footer::footer"></div>

    <!--<div  th:include="footer::footer"></div>-->
</div>
<script src="../static/js/materialize.js"></script>
<!-- Metis Menu Js -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="../static/js/raphael-2.1.0.min.js"></script>
<script src="../static/js/morris.js"></script>


<script src="../static/js/easypiechart.js"></script>
<script src="../static/js/easypiechart-data.js"></script>

<script src="../static/js/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="../static/js/custom-scripts.js"></script>

</body>
</html>