<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="order-mg-main">
    <div class="login-center">
        <div class="login-title">
            <div class="login-help">
                <span class="dateTime"></span>
            </div>
        </div>
        <div class="login-form-div">
            <div class="login-form">
                <form th:action="@{/login}" method="post">
                    <div class="item">
							<span class="item-username">
								<img src="../static/images/item-username.jpg">
							</span>
                        <input id="username" name="username" type="text" placeholder="请输入用户名" class="username">
                    </div>
                    <div class="item">
							<span class="item-password">
								<img src="../static/images/item-password.jpg">
							</span>
                        <input id="password" name="password" type="password" placeholder="请输入密码" class="password">
                    </div>
                    <!--<div class="item">
                        <input type="text" id="validate" name="validate" placeholder="验证码" class="w-263">
                        <span class="item-validateCode">
								<img src="/shop-admin/login/validateImage" class="validateImageClass" width="100%">
							</span>
                    </div>-->
                    <input type="submit" value="登录" class="btn-submit" id="login">
                    <div class="other-operate">
                        <a href="" class="link-fgt-pwd" id="resetPwd">修改密码</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="copyright">
             <span>Copyright © 2016 Bitmain Technologies. All Rights Reserved</span>
             <span>京公网安备 11010802022514号</span><br><br>
             <div>
                 <span>version:</span>
                 <span>0.0.0</span>
             </div>
         </div>-->
    </div>
</div>
</body>
</html>